
<!-- Place somewhere in the <body> of your page -->
<div class="flexslider">
  <ul class="slides">
    <li data-thumb="slide1-thumb.jpg">
      <img src="assets/castle.png" />
    </li>
    <li data-thumb="slide2-thumb.jpg">
      <img src="assets/princess.jpeg" />
    </li>
    <li data-thumb="slide3-thumb.jpg">
      <img src="assets/pumpkin.jpeg" />
    </li>
    <li data-thumb="slide4-thumb.jpg">
      <img src="assets/glass sliper.jpeg" />
    </li>
  </ul>
</div>
